.contribute {
    @include default-grid;
    .something-special {
        grid-column: fullcontent-start / column-end 4;
        padding: 4rem 4rem 5rem 5vw;
        background-color: $color-primary-ocean-blue;
        color: $color-white;

        @media only screen and (max-width: $bp-tab-land) {
            grid-column: fullcontent;
        }

        .heading-2 {
            color: $color-white;
        }
    }

    .donate {
        grid-column: column-start 5 / fullcontent-end;
        padding: 4rem 4rem 2vw 5vw;
        background-color: $color-off-white;

        @media only screen and (max-width: $bp-tab-land) {
            grid-column: fullcontent;
        }

        .section-text {
            padding-bottom: 3rem;
        }
    }
}