.nav {
  //@include navigation-grid;
  grid-column: 10/span 8;
  grid-row: 1/2;
  display: flex;

  list-style: none;
  justify-self: end;
  align-items: center;

  &__item {
    padding: 0 1.5rem;
  }

  //Flipping navigation vertical at tablet landscape view for mobile
  @media only screen and (max-width: $bp-tab-land) {
    @include mobile-nav-grid;
    grid-row-start: 1;
    grid-template-rows: min-content repeat(4, 5rem);
    height: 100vh;
    background-color:rgba($color-off-white, 1);
    transition: all 0.5s ease-in-out;
    z-index: 999;
    position: relative;

    &__item {
      border-top: 1px solid $color-tertiary-light-grey;

      &--close-button {
        position: absolute;
        top: 3.5rem;
        right: 5%;
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        background-color: transparent;
        border: $color-super-dark-grey 2px solid;
        border-radius: 50%;
        z-index: 2000;
      }
    }

    &__display-none {
      display: none;
    }

    &__hide {
      right: 0;
      width: 100vw;
     // right: -35rem;
      top: -125vh;
      position: fixed;
    }

    &__show {
      width: 100vw;
      top: 0;
      right: 0;
      position: fixed;

    }
  }

  &__link:link,
  &__link:visited {
    @extend %menu-font;
    color: $color-super-dark-grey;
    text-decoration: none;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
    display: block;
    transition: all .2s;

    @media only screen and (max-width: $bp-tab-land) {
      padding: 1.4rem 0;
    }
  }

  & a:hover,
  & a:active,
  & a.selected {
    text-decoration: underline;
    padding: 1.2rem 0;

    @media only screen and (max-width: $bp-tab-land) {
      padding: 1.4rem 0;
      text-decoration: none;
      background-color: #f4f4f4;

    }
  }

  &__no-display {
    display: none;
  }

  &__org-title {
    justify-self: center;
    //display: none;
    border-bottom: none;
    & a:hover{
      background-color: transparent;
    }

  }

  & a.contribute-link {
    color: $color-white;
    background-color: $color-dark-red;
    border-radius: 1.6rem;
    text-decoration: none;
    padding: 1rem 1.4rem;

    @media only screen and (max-width: $bp-tab-land) {
      border-radius: unset;
    }
  }

  & a.contribute-link:hover {
    text-decoration: none;
    padding: 1.3rem 1.4rem;
  }
}

//Position the hamburger menu button
.nav-button{
  grid-row: 1/2;
  grid-column: 17 / 18;

  border: none;
  background-color: transparent;
  cursor: pointer;

  //Hamburger window disappears beyond tablet landscape
  @media only screen and (min-width: $bp-tab-land) {
    display: none;
  }
}

.logo-mobile {
  @include logo-mobile-grid;
  height: 8rem;

  &__text{
    height: 3.4rem;
    justify-self: center;

    &--small {
      grid-row: 2 / 3;
      align-self: start;
    }
  }
}


// Hamburger menu
.nav-icon {
  //margin-top: 1.5rem;
  @media only screen and (max-width: $bp-tab-land) {
    position: relative;
    top: .7rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }

    //Close icon "X" in hamburger menu
    &__close {
      background-color:transparent;
     // align-self: center;
      // width: 7rem;

      &::before {
        top: 0;
        left: .55rem;
        width: 1.5rem;
        transform: rotate(45deg);
        background-color: $color-super-dark-grey;
      }

      &::after {
        top: 0;
        left: .55rem;
        width: 1.5rem;
        transform: rotate(-45deg);
        background-color: $color-super-dark-grey;
      }
    }
  }
}