//Fonts
$font-primary: libre-franklin, sans-serif;
$font-secondary: bebas-neue, sans-serif;

//

// Colors
$color-primary-dark-blue: #003466;
$color-primary-ocean-blue: #0674a6;
$color-primary-sky-blue: #c0e0ed;
$color-secondary-dark-blue: #024c89;
$color-secondary-light-grey: #eaeaea;

$color-tertiary-light-grey: #e5e5e5;
$color-super-dark-grey: #262626;
$color-dark-red: #af201c;
$color-white: #ffffff;
$color-off-white: #f9f9f9;
$color-black: #000000;

$color-secondary-dark-blue: #024c89;
//Screen Sizes
$bp-phone-port: 27.5em;
$bp-phone-port-large: 33.6875em;
$bp-phone-port-large-1: 37.5rem;
$bp-tab-port: 45.5em;
$bp-tab-land-small: 48.75em;
$bp-tab-med: 51.875em;
$bp-tab-land: 56.3em;
$bp-tab-land-large: 64em;
$low-res-screen: 85.375em;
$bp-mid-res-screen: 98em;
